<p id="notice"><%= notice %></p>

<h1>Wakandas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Released on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wakandas.each do |wakanda| %>
      <tr>
        <td><%= wakanda.name %></td>
        <td><%= wakanda.price %></td>
        <td><%= wakanda.released_on %></td>
        <td><%= link_to 'Show', wakanda %></td>
        <td><%= link_to 'Edit', edit_wakanda_path(wakanda) %></td>
        <td><%= link_to 'Destroy', wakanda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wakanda', new_wakanda_path %>
